@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  background-color: #f9fafb;
}

@keyframes shimmer {
  0% {
    background-position: -200px 0;
  }
  100% {
    background-position: 200px 0;
  }
}

.skeleton {
  background: linear-gradient(90deg, #f6f7f8 0%, #edeef1 20%, #f6f7f8 40%, #f6f7f8 100%);
  background-size: 400px 100%;
  animation: shimmer 1.4s ease infinite;
}
